<div class="card mt-3">
  <div class="card-header bg-info text-white">
   <h4>Liste des comptes</h4>
  </div>
  <div class="card-body">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Proprietaire</th>
        <th>Solde</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of data">
        <td scope="row">{{c.numero}}</td>
        <td>{{c.proprietaire}}</td>
        <td>{{c.solde}}</td>
        <td class="text-center" >
          <button type="button" class="btn btn-sm btn-info"
                          [routerLink]="['/comptes/', c.numero]"  > Détails</button>



          <button type="button" class="btn btn-sm btn-secondary ml-1"> Edit</button>
          <button type="button" class="btn btn-sm btn-danger ml-1"> Delete</button>
        </td>
      </tr>

    </tbody>
  </table>


  </div>

</div>

